* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: baseline;
  padding: 10px 10px 150px 10px;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 18px;
  gap: 24px;
}

a {
  color: #e5e7eb;
  text-decoration: none;
}

main {
  display: flex;
  height: 40vh;
  justify-content: center;
}

header, main {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.content-left {
  width: 40%;
  padding-right: 40px;
}

.content-right {
  margin-right: 100px;
}

.hero-img {
  max-width: 500px;
  height: auto;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

p {
  color: #e5e7eb;
  font-size: 18px;
}

.signup {
  height: 40px;
  width: 135px;
  background-color: #3882f6;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}