* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  justify-content: space-around;
  align-items: baseline;
  padding: 10px 10px 150px 10px;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 18px;
  gap: 24px;
}

a {
  color: #e5e7eb;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  height: 40vh;
  justify-content: center;
}

header, main {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.content-left {
  width: 40%;
  padding-right: 40px;
}

.content-right {
  margin-right: 100px;
}

.hero-img {
  max-width: 500px;
  height: auto;
}

main h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

main p {
  color: #e5e7eb;
  font-size: 18px;
}

.signup, .signup-fancy {
  height: 40px;
  width: 135px;
  background-color: #3882f6;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.signup-fancy {
  border: 2px solid #ffffff;
  margin: 0 50px 0 200px;
}

.info-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 40px;
  margin-bottom: 150px;
  gap: 60px;
}

.img-txt-container {
  width: 200px;
  height: auto;
}

.info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  margin: 50px 0;
}

.info-img {
  max-width: 200px;
  height: auto;
}

.info-text {
  color: #4B5563;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  margin-top: 10px;
}

.quote-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: #e5e7eb;
}

.quote-content {
  margin: 0px 250px;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.quote-author {
  text-align: right;
  font-weight: bold;
  margin-top: 15px;
}

.cta-outer-container {
  display: flex;
  height: 30vh;
  justify-content: center;
}

.cta-inner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  margin: 100px 150px;
  padding: 80px;
  border-radius: 10px;
}
.cta-title {
  color: #ffffff;
}

.cta-text {
  color: #e0dddd;
}

.footer {
  display: flex;
  height: 100px;
  background: #1f2937;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}